
body{
    font-family:Comic Sans MS;

}
 
th, td
{
border: 1px solid;
border-collapse: collapse;
background-color: rgb(70, 130, 180);
color:white;


}


.center 
h1
h2
{
margin: auto;
height: auto;
width: 60%;
padding: 10px;
style="text-align:center; color: rgb(160, 160, 160); width:100%;"
style="text-align:center;color:rgb(70, 130, 180); 
style="float:right;width:49% ;"
style="color:rgb(255, 0, 216)"


}

.center2{
display: flex;
justify-content: center;
align-items: flex-end;
height: 200px;


}
.space {
text-align:left;
color: rgb(70, 130, 180);
font-family:Comic Sans MS;
padding-left: 25px

}